*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
}

.banner2{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),  rgba(49, 49, 49, 0.75)), url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    height: 65px;
    background-color: #0d0b29;
    margin: auto;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding:15px 20px;
    margin-top: 5px;
    width: 120px;
    height: 100px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(6, 111, 192);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(6, 111, 192);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: rgb(6, 111, 192) ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.features{
    height: 1000px;
    width:1600px;
    background-color: rgb(168, 175, 180);
}

.aboutus{
    height:200px;
    background-color: rgb(70, 69, 69);
    width: 1500px;
    margin: auto;
    display: flex;
    justify-content: center;

}

footer{
    background:rgb(70, 69, 69);
    padding-top: 50px;
}

.footer-content{
    width: 33.3%;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color:#aeaaaa
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color:whitesmoke;
}
.footer-content ul li{
    text-align: center;
     text-decoration: none;
    text-transform: uppercase;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    color:whitesmoke;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: rgb(6, 111, 192);
    transition-duration: .5s;
   
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: rgb(6, 111, 192);
}
.social-icons i:hover{
    color: rgb(6, 111, 192);
}
.bottom-bar{
    background: rgb(6, 111, 192);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
   padding: 7px;
}

  .content-container {
            text-align: center;
            max-width: 800px;
            padding: 20px;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            color: #aeb9c9;
        }

        .title span {
            color: #0056b3;
        }
        .card-container {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-top: 20px;
            justify-content: center;
        }
        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            text-align: center;
            width: 30%;
            padding: 15px;
        }
        .card:hover{
            background-color: #e0e4f3;
        }

        .card img {
            width: 100%;
            border-radius: 8px;
        }

        .card h3 {
            font-size: 18px;
            margin: 15px 0 10px;
            color: #333;
        }

        .card p {
            font-size: 14px;
            color: #666;
        }

        .continue-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .continue-button:hover {
            background-color: #0056b3;
        }
